

@media screen and (max-width:600px){

    .cabeçalho__container{
        justify-content: space-between;
        width: auto;
    }

    h1{
        font-size: 1.5em;
    }

    .logo-alura{
        display: none;
    }

    .area-canvas{
        width: 350px;
        height: 263px;
        top: 1vh;
    }

    canvas{
        width: 350px;
    }

    .botoes-encerrar{
        max-width: 315px;
        top: -4vh;
        margin: auto;
    }

    .botao-encerrar{
        width: 45%;
        height: 40px;
        font-size: 1rem;
    }

    #botao-encerrar1{
        vertical-align: top;
        margin-right: 8%;
    }

    .rodape__container{
        margin-right: 2%;
        margin-left: 2%;
    }

    .logos{
        width: 40%;
    }

    .rodape__texto{
        font-size: .8rem;
    }

    .final-jogo{
        width: 65%;
        margin-bottom: 10%;
    }

    .adicionar__palavra{
        width: 90vw;
    }

    .area-input{
        width: 90%;
    }

    .adicionar__palavra___titulo{
        padding-top: 5%;
    }

    .botao-voltar{
        width: 70%;
    }

    .texto__venceu{
        font-size: 2rem;
    }

    .texto__perdeu{
        font-size: 2rem;
    }

}

@media screen and (min-width: 600px){
    .botoes-encerrar{
        top: -3vh;
    }

    .teclado{
        margin-top: 4%;
    }
}

@media screen and (min-width: 1000px){
    .final-jogo{
        width: 20%;
    }

    .adicionar__palavra{
        width: 40vw;
    }

    .botoes-encerrar{
        top: 4vh;
    }
}
